:root{
    --font: Arial, Helvetica, sans-serif;
}

body{
    font-family: var(--font);
    text-align: center;
}

h1{
    border-style: solid;
    display: inline-block;
}

button{
    display: block;
    margin: auto;
    height: 50px;
}